<div class="modal-wrapper">
  <div class="modal">
    <h1>Modal Title</h1>
    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
    <input>
  </div>
</div>
