<ul>
  <% @quiz.questions.each do |question| %>
    <li>Question: <%= question.question %></li>
    <li>Answer: <%= question.answer %></li>
    <%= link_to "Edit", (@quiz, question) %>
  <% end %>
</ul>
