<div class="question-page">
  <div class="question-header">
    <h1><b>Quiz:</b> <%= @quiz.name %></h1>
    <%= link_to "Add Question", new_quiz_question_path(@quiz) %>
  </div>
<%= render "questions" %>
</div>
