<div class="quiz-show">
  <h1 id="start">Custom Quiz</h1>
  <div class="quiz-details">
    <h2> Quiz: <%= @quiz.name %></h2>
  </div>
  <button class="custom-go">click</button>
</div>

<div class="loading-indicator">
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 130 130" overflow="visible" enable-background="new 0 0 130 130" id="progress">
      <circle fill="none" stroke-width="4" stroke-miterlimit="10" cx="65" cy="65" r="60"></circle>
      <circle class="meter" fill="none" stroke-width="4" stroke-miterlimit="10" cx="65" cy="65" r="60"></circle>
      </svg>
  </div>
<p><b class="percentage"></b></p>

<div id="state"></div>


<div class="controls">

  <input type="text" class="guess"></input>
  <button id="guess-btn">Guess</button>

</div>
