<div class="quiz-show">
  <h1 id="start">It's Quiz Time</h1>
  <button class="go">click</button>
</div>

<div id="state"></div>


<div class="controls">

  <input type="text" class="guess"></input>
  <button id="guess-btn">Guess</button>

</div>
