/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#hidden {
  display: none;
}

#state {
  margin-top: 200px;
}

.controls {
  margin-top: 50px;
  display: none;
}

svg circle:last-of-type {
  opacity: 0;
  stroke: #ddd;
  transition: stroke-dashoffset 0.5s ease-out;
}


p {
  text-align: center;
  color: black;
  font-size: 2rem;
  position: absolute;
  top: 3rem;
  left: 0;
  right: 0;
}

.loading-indicator {
  width: 10rem;
  position: absolute;
  top: 1.3rem;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
}


svg circle {
  stroke: red;
}
