@import "susy";
@import "breakpoint";
@import 'colors';

$susy: (
  columns: 12,
  gutters: 1/4,
  math: fluid,
  output: float,
  gutter-position: inside
);

.home {
  h1 {
    text-align: center;
    font-size: 3em;
  }
  h2 {
    text-align: center;
    font-size: 2em;
  }
}

section {
  width: 100%;
  margin: auto 0;
  @include container(100%);
  float: left;
  h2 {
    text-align: center;
    text-decoration: underline;
  }
}

.quiz-list {
  @include container(80%);
  border-top: 5px solid #141C22;
  color: black;
  a {
    color: $primary-color;
    &:hover {
      color: #C33020;
      font-weight: bolder;
    }
  }
}

.list-item {
 @include span(3 of 12);
 li {
   padding: 2%;
   font-size: 120%;
 }
}
