@import "susy";
@import "breakpoint";
@import 'colors';

$susy: (
  columns: 12,
  gutters: 1/4,
  math: fluid,
  output: float,
  gutter-position: inside
);

.home {
  h1 {
    text-align: center;
  }
}

section {

  width: 100%;
  margin: auto 0;
  @include container(100%);
  float: left;
  h2 {
    margin-left: 1em;
    text-decoration: underline;
  }
  /* background-color:yellow; */
}

.quiz-list {
  @include container(80%);
  border-top: 5px solid #141C22;
}

.list-item {
 @include span(3 of 12);
 li {
   font-size: 120%;
 }
}
