@import "susy";
@import "breakpoint";
@import 'colors';
@import url(https://fonts.googleapis.com/css?family=Raleway);

body {
  font-family: 'Raleway', sans-serif;
  background: $background-color;
  color: $primary-color;
}

ul {
  list-style-type: none;
  text-transform: capitalize;
}

h1 {
  text-decoration: underline;
}

nav {
  top: 0;
  width: 100%;
  background-color: black;
  color: white;
  ul {
    display: inline;
    margin: 0;
    li {
      margin: 1em;
      display: inline;
      h1 {
        color: red;
      }
      a {
        color: white;
      }
    }
  }
}

a {
  color: $accent-color;
}
