@import "susy";
@import "breakpoint";
@import 'colors';

.question-header {
text-align: center;
margin-bottom: 1em;
  h1 {
    font-size: 4em;
  }
  a {
    font-size: 2em;
  }
}

.question-list-item {
  @include span(3 of 12);
  padding-left: 4em;
}
