@import "susy";
@import "breakpoint";
@import 'colors';

.action {
  color: black;
}

#start {
  text-align: left;
}

.big-button {
  position: relative;
  margin: 1.2em;
  padding: 0.5em 1em;
  font-size: 2em;
  text-transform: uppercase;
  border-radius: .3em;
  border: 0.1em solid black;
  background: $background-color;
  box-shadow: inset 0 .1em rgba(255,255,255,0.1), 0 .1em .1em black, 0 0.2em rgba(255,255,255,0.1), 0 0 0 .2em rgba(0,0,0,0.1);
  color: $primary-color;
}

#hidden {
  display: none;
}

#state {
  padding-top: 10px;
  height: 125px;
  width: 100%;
  border-bottom: 4px solid black;
}

.interface {
  margin: 200px;
  height: 175px;
  background: $accent-background;
  text-align: center;
}

.guess {
  width: 200px;
  color: black;
}

.control-buttons {
  padding-top: 20px;
}

.go, .custom-go {
  @extend .big-button;
}

.guess-btn {
  @extend .big-button;
  display: none;
}

.controls {
  padding-top: 10px;
  height: 75px;
  background: black;
  input {
    width: 40%;
    font-size: 30px;
  }
}

svg circle:last-of-type {
  opacity: 0;
  stroke: black;
  transition: stroke-dashoffset 0.5s ease-out;
}

p {
  text-align: center;
  font-size: 2rem;
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
}

.loading-indicator {
  width: 10rem;
  position: absolute;
  top: 1.3rem;
  top: 15%;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
}

svg circle {
  stroke: red;
}
