// Place all the styles related to the quizzes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#hidden {
  display: none;
}

#state {
  /* margin-top: 200px; */
  /* margin-top: 200px; */
  /* width: 60%; */
}

.interface {
  margin: 200px;
  height: 200px;
  background: yellow;
  text-align: center;
}

.controls {
  margin-top: 50px;
  /* display: none; */
}

svg circle:last-of-type {
  opacity: 0;
  stroke: #ddd;
  transition: stroke-dashoffset 0.5s ease-out;
}


p {
  text-align: center;
  color: black;
  font-size: 2rem;
  position: absolute;
  top: 7rem;
  left: 0;
  right: 0;
}

.loading-indicator {
  width: 10rem;
  position: absolute;
  top: 1.3rem;
  top: 20%;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
}


svg circle {
  stroke: red;
}
